
a {
    color:  grey;
}

.container-xl {
   background-color: rgb(236, 236, 236); 
   padding: 100px;
}

.col-sm-7 {
    background-color: rgb(197, 196, 196);
    text-align: center; 
    
    
}

h1 {
    text-align: center ; font-size: 4em;
    
    
}

img { padding: 34px;
    
}

.col-sm-8 {
    padding: 100px;
}

.otsikko {
    float: inline-start;
}



