header {
    
    background-color: rgb(2, 2, 90);
}

nav {
    
    background-color: rgb(13, 235, 205);
}

section {

    background-color: rgb(43, 98, 182);

}

article {

    background-color: rgb(7, 78, 95);
}

aside {

    background-color: darkcyan;
}

footer {

    background-color: rgb(57, 55, 161);
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }  
