
body {
      background-color: rgb(247, 243, 16);
  }
h1 {
    color: blue; border-style: outset; padding: 5px; 
    height: 50px; width: 400px;
    
}
h4 {
    color: blue; border-style: inset; padding: 6px;
    height: 20px; width: 400px;
}
p { 
    color: rgb(247, 243, 16); border: 2px solid blue; border-radius: 12px;
    padding: 5px; margin: 5px 10px; background-color: blue;
    height: 20px; width: 310px;
}  
figure {
    color: blue;
}  
  