
body {
      background-color: rgb(247, 243, 16);
  }
h1 {
    color: blue; border-style: outset;
}
h4 {
    color: blue; border-style: inset;
}
p { 
    color: blue; border: 2px solid blue; border-radius: 12px;
    padding: 5px;
}  
figure {
    color: blue;
}  
  