table, th, td {
    border: 1px solid black; padding: 5px;
    background-color: rgb(243, 243, 243);
    
    
}

th {
    color: rgb(235, 72, 235);
}

textarea{
    width: 80;
}

.field{
    display: inline-block;
}

.vihreä {
    color:green;
}

.punainen {
    color: red;
}

.sininen {
    color: blue;
}

.keltainen {
    color: rgb(192, 192, 0);
}


